{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	overflow: hidden;
}
body {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.58;
	color: #ffffff;
	background-color: #2e2a33;
	height: 100%;
}
.clearfix:after {
	display: block;
	content: "";
	clear: both;
}
.hidden {
	display: none;
}
input {
	padding-left: 10px;
	outline: none;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 20px;
	margin-bottom: 20px;
}
h1 {
	font-size: 1.7em;
}
a {
	color: #128ff2;
}
button {
	box-shadow: none;
	border: 1px solid transparent;
	font-size: 14px;
	outline: none;
	line-height: 100%;
	white-space: nowrap;
	vertical-align: middle;
	padding: 0.6rem 1rem;
	border-radius: 2px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	min-height: 38px;
}
button.default {
	background-color: #e8e8e8;
	color: #333;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}
button.primary {
	background-color: #128ff2;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
	color: #fff;
}
}
button.accent {
	background-color: #ff4743;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
	color: #fff;
}
#welcome-page {
	text-align: center;
}
.welcome-page-container {
	background-color: grey;
	width: 100%;
	max-width: 700px;
	display: inline-block;
	margin-top: 42px;
	vertical-align: middle;
	position: relative;
	padding: 35px 55px 35px;
	min-height: 250px;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: -160px;
}
#dialogue-page {
	position: relative;
	height: 100%;
}
.dialogue-container {
	background-color: orange;
	margin: 10px 0;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
	margin-top: 30px;
	height: calc(100% - 60px);
	max-height: 600px;
	position: relative;
}
#dialogue-page ul {
	list-style-type: none;
	background-color: #FFF;
	margin: 0;
	overflow: auto;
	overflow-y: scroll;
	padding: 0 20px 0px 20px;
	height: calc(100% - 150px);
}
#dialogue-page #dialogueForm {
	padding: 20px;
	display: inline-block;
}
#dialogue-page #leaveForm {
    padding: 20px;
    float: right;
}
#dialogue-page ul li {
	line-height: 1.5rem;
	padding: 10px 20px;
	margin: 0;
	border-bottom: 1px solid #f4f4f4;
}
#dialogue-page ul li p {
	margin: 0;
}
#dialogue-page .event-data {
	width: 100%;
	text-align: center;
	clear: both;
}
#dialogue-page .event-data p {
	color: #dbd9d9;
	font-size: 14px;
	word-wrap: break-word;
}
#dialogue-page .message-data {
	padding-left: 68px;
	position: relative;
}
#dialogue-page .message-data i {
	position: absolute;
	width: 42px;
	height: 42px;
	overflow: hidden;
	left: 10px;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	line-height: 42px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-style: normal;
	text-transform: uppercase;
}
#dialogue-page .message-data span {
	color: grey;
	font-weight: 600;
}
#dialogue-page .message-data p {
	color: grey;
}
#dialogueForm .input-group input {
	border: 0;
	padding: 10px;
	background: whitesmoke;
	float: left;
	width: calc(100% - 85px);
	height: 100%;
}
#dialogueForm .input-group button {
	float: left;
	width: 80px;
	height: 38px;
	margin-left: 5px;
}
.dialogue-header {
	text-align: center;
	padding: 15px;
	border-bottom: 1px solid #ececec;
}
.dialogue-header h2 {
	margin: 0;
	font-weight: bold;
}
.icon-text {
    display: inline-block;
    margin-left: 5px;
}
#welcome-page .form-group {
    margin-bottom: 50px;
}
#welcome-page h1 {
    margin-bottom: 50px;
    margin-top: 50px;
}
@media screen and (max-width: 730px) {
	.dialogue-container {
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
	}
}